.site-header {
  @include media-breakpoint-up(xl) {
    height: 6.6rem;
  }
}
.top-bar {
  background-color: hsl(var(--clr-black));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  position: relative;
  padding-inline: 1rem;
  gap: 2rem;

  &__right {
    .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;

      list-style-type: none;

      .menu-item {
        &.header-cart {
          position: relative;

          a {
            background-color: hsl(var(--clr-sec));
            height: 5rem;
            width: 5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            transition: background-color 0.3s ease;

            svg {
              fill: hsl(var(--clr-white));
            }

            &:hover {
              // background-color: hsl(var(--clr-sec));

              svg {
                fill: hsl(var(--clr-white));
              }
            }
          }
          .items {
            position: absolute;
            right: 1rem;
            top: 0.5rem;
            font-size: 14px;
            color: hsl(var(--clr-white));
          }
        }
        a {
          svg {
            fill: hsl(var(--clr-white));
            height: 2rem;
            width: auto;
          }

          &:hover {
            svg {
              fill: hsl(var(--clr-sec));
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .main-navigation {
      grid-column: 1/3;
      grid-row: 2;

      .menu {
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
    }
    .call-info {
      grid-column: 2/3;
      grid-row: 1;
    }
  }
  // @include media-breakpoint-up(lg) {
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    height: 100%;
  }

  @include media-breakpoint-up(xl) {
    padding-inline: 5rem;

    &__center {
      // height: 100%;
    }
  }
}

.main-navigation {
  ul {
    & > li {
      & > a {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 2rem;
          right: 2rem;
          bottom: 0;
          height: 2px;
          background-color: #fff;
          // transition: transform .15s ease-in-out,opacity .1s 50ms ease-in-out;
          transform: scaleX(0.5);
          opacity: 0;
          // will-change: width,opacity;
          transition: transform 0.15s ease-in-out, opacity 0.1s 50ms ease-in-out,
            background-color 225ms;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
            opacity: 1;
            transition: transform 225ms ease-in-out, opacity 0.1s ease-in-out;
          }
        }
      }
    }
  }
}

.main-navigation {
  //   align-self: stretch;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  ul {
    //     display: none;
    //     list-style: none;
    //     margin: 0;
    //     padding-left: 0;

    & > li {
      & > a {
        position: relative;

        &::after {
        }
      }
    }

    //       // dropdown trick
    //       ul {
    //         // box-shadow: none;
    //         background-color: hsl(var(--clr-white));
    //         li {
    //           &:first-child {
    //             @include media-breakpoint-up(lg) {
    //               // margin-top: 2rem;
    //             }
    //           }
    //         }
    //       }
  }

  //     ul {
  //       box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  //       float: left;
  //       position: absolute;
  //       top: 100%;
  //       left: -999em;
  //       z-index: 999;
  //       flex-direction: column;

  //       padding: 2rem;

  //       ul {
  //         left: -999em;
  //         top: 0;
  //       }

  //       li {
  //         @include media-breakpoint-down(lg) {
  //           background-color: hsl(var(--clr-black), 0.04);
  //         }
  //         &:hover > ul,
  //         &.focus > ul {
  //           display: block;
  //           left: auto;
  //         }
  //       }

  //       a {
  //         width: 200px;
  //         padding-block: 0;
  //       }

  //       :hover > a,
  //       .focus > a {
  //       }

  //       a:hover,
  //       a.focus {
  //       }
  //     }

  //     li:hover > ul,
  //     li.focus > ul {
  //       left: auto;
  //     }
  //   }

  //   li {
  //     position: relative;
  //     align-self: stretch;

  //     &:last-child {
  //       // @include media-breakpoint-up(lg) {
  //       //   margin-left: 3.5rem;
  //       // }
  //     }

  //     &:hover > a,
  //     &.focus > a {
  //     }
  //   }

  //   a {
  //     display: inline-block;
  //     text-decoration: none;
  //     position: relative;
  //     color: hsl(var(--clr-white));
  //     font-weight: 500;
  //     padding-block: 2.4rem;

  //     &:hover {
  //       color: hsl(var(--clr-sec));
  //     }
  //   }

  //   .current_page_item > a,
  //   .current-menu-item > a,
  //   .current_page_ancestor > a,
  //   .current-menu-ancestor > a {
  //     color: hsl(var(--clr-sec));
  //   }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  width: 100%;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid hsl(var(--clr-black), 0.08);
    }

    background-color: hsl(var(--clr-black), 0.04);

    a {
      display: block;
      padding: 1rem 2rem;
    }
  }
}

.menu-toggle {
  overflow: hidden;
  // width: 6rem;
  width: 4rem;
  height: 4.5rem;
  outline: 0;
  border: 0;

  position: absolute;
  top: 1rem;
  right: 2rem;

  &,
  &:focus,
  &:focus-visible,
  &:active {
    background-color: transparent;
  }

  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .line-toggle {
    position: absolute;
    display: block;
    width: 4rem;
    height: 3px;
    background-color: hsl(var(--clr-black));
    border-radius: 5px;
    transition: all 0.6s;
  }

  .line-toggle:first-child {
    // transform: translateY(-10px) translateX(6px);
    transform: translateY(-10px) translateX(0);
    // width: 3rem;
    transition-delay: 0s;
  }

  .toggle .line-toggle:nth-child(2) {
    transition-delay: 0.12s;
  }

  .line-toggle:last-child {
    transform: translateY(10px) translateX(-10px);
    transform: translateY(10px) translateX(0);
    // width: 2rem;
    transition-delay: 0s;
  }

  &.activate .line-toggle:first-child {
    background-color: hsl(var(--clr-black));
    transform: translateY(0) translateX(0) rotate(45deg);
    width: 3.5rem;
    height: 3px;
    transition-delay: 0.1s;
  }

  &.activate .line-toggle:nth-child(2) {
    transform: translateX(110px);
    transition-delay: 0s;
  }

  &.activate .line-toggle:last-child {
    background-color: hsl(var(--clr-black));
    transform: translateY(0) translateX(0) rotate(314deg);
    width: 3.5rem;
    height: 3px;
    transition-delay: 0.1s;
  }
}

// @media screen and (min-width: 37.5em) {
@include media-breakpoint-up(xl) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    align-self: stretch;

    display: flex;
    gap: 2rem;
    align-items: center;
  }
}

.site-branding {
  .custom-logo-link {
    display: block;
    // padding-block: 1rem;
    img {
      height: 4.5rem;
      width: auto;
      margin-block: 0.5rem;

      // @include media-breakpoint-down(sm) {
      //   margin-left: 1rem;
      // }
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

// body.admin-bar {
//   .site-header {
//     top: 3.2rem;
//   }

// }

.page-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  // margin-top: 2rem !important;

  a {
    text-decoration: none;
  }

  .page-numbers {
    display: grid;
    place-items: center;
    height: 4rem;
    width: 4rem;
    background-color: hsl(var(--clr-blue), 0.1);
    color: hsl(var(--clr-black));
    border-radius: var(--br);

    &:hover {
      color: hsl(var(--clr-white));
      background-color: hsl(var(--clr-accent));
      text-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
    }

    &.next,
    &.prev {
      width: initial;
      padding-inline: 2rem;
    }
  }

  [aria-current="page"] {
    &,
    &:hover {
      background-color: hsl(var(--clr-blue));
      color: hsl(var(--clr-white));
    }
  }
}
