.swiper-button-prev,
.swiper-button-next {
  margin-top: 0;
}

.homeSlider {
  .swiper-slide {
    // text-align: center;
    // font-size: 18px;
    background-color: hsl(var(--clr-white));

    // height: 75vh;
    // min-height: 50rem;
    // max-height: 75rem;
  }

  .swiper-slide img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/4;

    @include media-breakpoint-up(sm) {
      aspect-ratio: 4/3;
    }

    @include media-breakpoint-up(lg) {
      aspect-ratio: 6/3;
    }

    @include media-breakpoint-up(xl) {
      aspect-ratio: 6/2.4;
      object-position: center;
    }

    @include media-breakpoint-down(lg) {
      // height: 65rem;
      // height: 75vh;
    }
    // @include media-breakpoint-down(md) {
    //   height: 52rem;
    // }
    // @include media-breakpoint-down(sm) {
    //   height: 42rem;
    // }
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  &__content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .slider-copy {
    font-size: clamp(3.2rem, 3vw + 1rem, 4.4rem);
    font-weight: 800;
    text-transform: uppercase;
    // display: inline-block;
    // background: -webkit-linear-gradient(
    //   hsl(var(--clr-white)),
    //   hsl(var(--clr-yellow))
    // );
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    margin: 0 0 1rem;
  }
  .slider-copy,
  .slider-brief {
    max-width: 68rem;
  }
  .slider-brief {
    text-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
  }
  .slider-copy,
  .slider-button {
    text-align: left;
    color: hsl(var(--clr-white));
    // letter-spacing: 1px;
  }
  .slider-brief {
    max-width: 860px;
    font-size: var(--fs-4);
    text-align: left;
    color: hsl(var(--clr-white));
  }

  .slider-button {
    width: fit-content;
    background-color: hsl(var(--clr-yellow));
    color: hsl(var(--clr-black));
    padding: 1.3rem 3rem;
    font-weight: 600;

    svg {
      fill: hsl(var(--clr-black));
    }

    &:hover {
      background-color: hsl(var(--clr-black));
      color: hsl(var(--clr-white));

      svg {
        fill: hsl(var(--clr-white));
      }
    }
  }
  .slider-copy {
    opacity: 0;
  }
  .swiper-slide-active {
    .slider-copy {
      animation: rise 0.8s ease-in-out forwards;
    }
    .slider-brief {
      opacity: 0;
      animation: rise 1.2s ease-in-out forwards 0.5s;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: clamp(3.5rem, 2vw + 2.5rem, 5rem);

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

.swiper-scrollbar {
  background-color: transparent;
}
.related-products {
  .swiper-button-prev,
  .swiper-button-next {
    background-color: hsl(var(--clr-white), 0.45);
    box-shadow: 0 0.2rem 0.4rem hsl(var(--clr-black), 0.15);
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    color: hsl(var(--clr-black), 0.65);
    transition: background-color 0.2s ease;
    opacity: 0;
    transition: opacity 0.2s ease;

    &::after {
      font-size: var(--fs-6);
    }

    &:hover {
      background-color: hsl(var(--clr-white));
      color: hsl(var(--clr-black));
    }

    &.swiper-button-disabled {
      background-color: hsl(var(--clr-white), 0.25);
      color: hsl(var(--clr-black));
    }
  }
  .swiper-scrollbar {
    opacity: 0;
    transition: opacity 0.2s ease;

    .swiper-scrollbar-drag {
      background-color: hsl(var(--clr-black), 0.25);
    }
  }
  &:hover {
    .swiper-scrollbar,
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
  }
}

.col-four {
  .swiper-wrapper {
    max-width: 100%;
  }
  .swiper-slide {
    margin-right: 15px;
    @include media-breakpoint-up(sm) {
      width: 70.7333333%;
    }
    @include media-breakpoint-up(md) {
      width: 40.4333333%;
    }
    @include media-breakpoint-up(lg) {
      width: 28.3333333%;
    }
    @include media-breakpoint-up(xl) {
      width: 24.2%;
    }
    @include media-breakpoint-down(sm) {
      width: 70.7333333%;
    }
  }
}
