.the-review {
  &.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
  }
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 0;
}

.homeSlider {
  .swiper-slide {
    // text-align: center;
    // font-size: 18px;
    background-color: hsl(var(--clr-white));

    // height: 75vh;
    // min-height: 50rem;
    // max-height: 75rem;
  }

  .swiper-slide img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/4;

    @include media-breakpoint-up(sm) {
      aspect-ratio: 4/3;
    }

    @include media-breakpoint-up(lg) {
      aspect-ratio: 6/3;
    }

    @include media-breakpoint-up(xl) {
      aspect-ratio: 6/2.4;
      object-position: center;
    }

    @include media-breakpoint-down(lg) {
      // height: 65rem;
      // height: 75vh;
    }
    // @include media-breakpoint-down(md) {
    //   height: 52rem;
    // }
    // @include media-breakpoint-down(sm) {
    //   height: 42rem;
    // }
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  &__content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .slider-copy {
    font-size: clamp(3.2rem, 3vw + 1rem, 4.4rem);
    font-weight: 800;
    text-transform: uppercase;
    // display: inline-block;
    // background: -webkit-linear-gradient(
    //   hsl(var(--clr-white)),
    //   hsl(var(--clr-yellow))
    // );
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    margin: 0 0 1rem;
  }
  .slider-copy,
  .slider-brief {
    max-width: 68rem;
  }
  .slider-brief {
    text-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
  }
  .slider-copy,
  .slider-button {
    text-align: left;
    color: hsl(var(--clr-white));
    // letter-spacing: 1px;
  }
  .slider-brief {
    max-width: 860px;
    font-size: var(--fs-4);
    text-align: left;
    color: hsl(var(--clr-white));
  }

  .slider-button {
    width: fit-content;
    background-color: hsl(var(--clr-yellow));
    color: hsl(var(--clr-black));
    padding: 1.3rem 3rem;
    font-weight: 600;

    svg {
      fill: hsl(var(--clr-black));
    }

    &:hover {
      background-color: hsl(var(--clr-black));
      color: hsl(var(--clr-white));

      svg {
        fill: hsl(var(--clr-white));
      }
    }
  }
  .slider-copy {
    opacity: 0;
  }
  .swiper-slide-active {
    .slider-copy {
      animation: rise 0.8s ease-in-out forwards;
    }
    .slider-brief {
      opacity: 0;
      animation: rise 1.2s ease-in-out forwards 0.5s;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: clamp(3.5rem, 2vw + 2.5rem, 5rem);

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

.affiliates {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swipefleet,
.swipeHomeSafari {
  overflow: visible;

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   background-color: hsl(var(--clr-cream));
  //   z-index: 6;
  // }

  // &::before {
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   left: -100%;
  //   background: linear-gradient(
  //     90deg,
  //     hsl(var(--clr-cream)) 75%,
  //     hsl(var(--clr-cream), 0.06) 100%
  //   );
  // }
  // &::after {
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   right: -100%;
  //   background: linear-gradient(
  //     270deg,
  //     hsl(var(--clr-cream)) 75%,
  //     hsl(var(--clr-cream), 0.06) 100%
  //   );
  // }

  .slider-pagination {
    .swiper-button-prev,
    .swiper-button-next {
      width: 4.5rem;
      height: 4.5rem;
      background-color: hsl(var(--clr-white), 0.45);
      color: hsl(var(--clr-black));
      box-shadow: 0 0 15px 0 hsl(var(--clr-black), 0.35);
      border-radius: var(--br);
      transition: background-color 0.2s var(--anim);

      &:hover {
        background-color: hsl(var(--clr-white));
      }

      &::after {
        font-size: 1.8rem;
      }
    }

    .swiper-button-prev {
    }
    .swiper-button-next {
    }
  }
}
.related-posts-carousel {
  .slider-pagination {
    .swiper-button-prev,
    .swiper-button-next {
      width: 4.5rem;
      height: 4.5rem;
      background-color: hsl(var(--clr-white), 0.45);
      color: hsl(var(--clr-black));
      box-shadow: 0 0 15px 0 hsl(var(--clr-black), 0.35);
      border-radius: var(--br);
      transition: background-color 0.2s var(--anim);

      &:hover {
        background-color: hsl(var(--clr-white));
      }

      &::after {
        font-size: 1.8rem;
      }
    }
  }
}
.swipeHomeSafari {
  // &::before,
  // &::after {
  //   background-color: hsl(var(--clr-white));
  // }

  // &::before {
  //   background: linear-gradient(
  //     90deg,
  //     hsl(var(--clr-white)) 75%,
  //     hsl(var(--clr-white), 0.06) 100%
  //   );
  // }
  // &::after {
  //   background: linear-gradient(
  //     270deg,
  //     hsl(var(--clr-white)) 75%,
  //     hsl(var(--clr-white), 0.06) 100%
  //   );
  // }
}
.swiper-scrollbar {
  background-color: transparent;
}
.related-products {
  .swiper-button-prev,
  .swiper-button-next {
    background-color: hsl(var(--clr-white), 0.45);
    box-shadow: 0 0.2rem 0.4rem hsl(var(--clr-black), 0.15);
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    color: hsl(var(--clr-black), 0.65);
    transition: background-color 0.2s ease;
    opacity: 0;
    transition: opacity 0.2s ease;

    &::after {
      font-size: var(--fs-6);
    }

    &:hover {
      background-color: hsl(var(--clr-white));
      color: hsl(var(--clr-black));
    }

    &.swiper-button-disabled {
      background-color: hsl(var(--clr-white), 0.25);
      color: hsl(var(--clr-black));
    }
  }
  .swiper-scrollbar {
    opacity: 0;
    transition: opacity 0.2s ease;

    .swiper-scrollbar-drag {
      background-color: hsl(var(--clr-black), 0.25);
    }
  }
  &:hover {
    .swiper-scrollbar,
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
  }
}
